<article class="post">
    <div class="title">
        <a>{{title}}</a>
    </div>
    <div class="meta">
        {{ post_text }} by {{ user.username }} {{ format_date date_created }}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>